<div>
  <h1 style="margin-left: 1%;">
    AutoKsiegowy
  </h1>
  <h2 style="margin-left: 1%;">Lista wydatków</h2>
</div>
<table class="table">
    <tr>
        <th>Kategoria</th>
        <th>Data</th>
        <th>Kwota</th>
        <th>Opis</th>
        <th>Litrów/km</th>
        <th>Usuń Wydatek</th>
    </tr>
    <tr *ngFor="let wydatek of wydatki">
      
        <td>{{wydatek.kategoria}}</td>
        <td>{{wydatek.data | date:'dd.MM.yyyy'}}</td>
        <td class="text-sm-right">{{wydatek.kwota | number:'1.2-2'}} zł</td>
        <td>{{wydatek.opis}}</td>

        <span *ngIf='wydatek.kategoria == "Tankowanie"'>
        <span *ngIf = 'wydatek.ileKm && wydatek.ileLitrow'>
          <td>{{wydatek.ileLitrow | number:'1.1'}} L / {{wydatek.ileKm}} km </td>
        </span>
         <span *ngIf = '!wydatek.ileKm || !wydatek.ileLitrow'>
           <span *ngIf = 'wydatek.ileKm'>
          <td>{{wydatek.ileKm}} km </td>
        </span>
         <span *ngIf = 'wydatek.ileLitrow'>
          <td>{{wydatek.ileLitrow | number:'1.1'}} L </td>
        </span>
        </span>
        </span>
        <span *ngIf='wydatek.kategoria !== "Tankowanie"'>
          <td></td>
        </span>
      <td>
        <button class="btn btn-danger" (click)="usunWydatek(wydatek.id)" >Usuń</button>
      </td>
        
        
        
    </tr>
    
</table>
