
<h1>Statystyki wydatków</h1> <br>

<!-- 2 -->

<table class="table">
<tr>
    <th>Kategoria</th>
    <th>Kwota wydatku</th>
    
</tr>  

<tr *ngFor="let k of statystyki">
  <td>{{k.kategoria}}</td>
  <td >{{k.kwota | number:'1.2-2'}} zł</td>
</tr>

<!-- 1 -->
</table>
<h6 style="font-weight:bold;margin-left:44.2%;">Wydatki Łącznie: <span style="font-weight:normal;">{{suma | number:'1.2-2'}} zł</span></h6>
<button class="btn btn-danger" style="font-weight:bold;margin-left:0.5%;" (click)="przelacz()" >Full / Monthly</button>

